[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
typing-extensions = ">=3.10.0"

[dev-packages]
flake8 = "~=5.0.4"
pylint = "~=2.14.5"
mypy = "~=0.971"

isort = "~=5.10.1"
black = "==24.3.0"
autopep8 = "~=1.6.0"

pytest = "~=7.1.2"
pytest-cov = "~=3.0.0"

# Required by pytest, but not properly pulled in by Pipenv
importlib-metadata = {version = ">=0.12,<4.9", markers = "python_version < '3.8'"}
zipp = {version = ">=0.5,<3.6", markers = "python_version < '3.8'"}
